<!doctype html>
<html>
<head>
    <title>FinanceTracker</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body id="bootstrap-overide" class="body">
<div class="container">

    <div class="jumbotron text-center index-color">
        <h1>FinanceTracker</h1>
        <img width=400 src="img/finance.jpg" alt="21 Savage Profile Photo">
        <h3>Help Manage Your Bank Accounts with FinanceTracker!</h3>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html>
